<html>
    <script src="/socket.io/socket.io.js"></script>
    <h3>roomid:<%- include("./code.ejs",code) %>
    </h3>
    <input id="input_roomid" autocomplete="off"/><button onclick='roomid()'>send</button>
    <h3>comment</h3>
    <input id="input_msg" autocomplete="off"/><button onclick='send()'>send</button>
    <ul id="messages"></ul>
    <script>
        let socketio = io();
        const listul = document.getElementById('messages');
        const input_el = document.getElementById("input_msg");
        const inputid_el = document.getElementById("input_roomid");
        const id_span = document.getElementById("roomid_span");
        function send() {
            let text = input_el.value;
            socketio.emit('message',text);
            input_el.value = '';
            return false;
        }

        function roomid() {
            const data = document.getElementById('input_roomid').value;
            id_span.innerText = data;
            socketio.emit('join2room',data);
        }
        press = (e)=> {
            if(e.code === 'Enter'){
                send();
            }
            return false;
        }
        socketio.on('message',(msg)=>{
            let newli = document.createElement("li");
            newli.innerText = msg;
            listul.appendChild(newli);
            return false;
        });
        inputid_el.addEventListener("keypress",(e)=>{
            if(e.code === 'Enter'){
                roomid();
            }
            return false;
        })
        input_el.addEventListener("keypress",press);
    </script>
</html>